{% extends 'benchmarX/base_menu.html' %}

{% block external_refs %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'BenchmarkingPlatform/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="row">

    <a href="/blue-tools">
        <div class="column" id="blue-tools" >
            <div class="div-text">Click here to benchmark  </br> Defensive Solutions</div>
        </div>
    </a>
    <a href="/red-tools">
        <div class="column" id="red-tools">
            <div class="div-text">Click here to benchmark  </br> Offensive Solutions</div>
        </div>
    </a>
</div>

{% endblock %}
