{% extends 'benchmarX/base.html' %}

{% block external_refs %}
    {% load static %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'BenchmarkingPlatform/login.css' %}">
{% endblock %}

{% block content %}
        <div class="fullDiv">
            <div class="innerLeftBlurred"></div>
        </div>
        <div class="innerRightBlurred"></div>
        <div class="innerRight">
            <div class="row">
                <h1 class="text-center login-title"></h1>
                <div class="account-wall">
                    <div class="profile-img"></div>
                    <form method="post" class="form-signin">
                        {% csrf_token %}
                        <input type="text" name="username" class="form-control" placeholder="Username" required id="id_username" required autofocus>
                        <input type="password" name="password" class="form-control" placeholder="Password" required id="id_password">
                        <button class="btn btn-lg btn-primary btn-block sign-in" type="submit">
                            Sign in
                        </button>
                    </form>
                    <a href="/register" class="text-center new-account">Create an account </a>
                    <a href="#" class="text-center new-account">Forgot password ? </a>
                </div>
            </div>
        </div>
{% endblock %}