{% extends "castle/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
    <div class="col-5 offset-3">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button class="btn btn-primary" type="submit">Connexion</button>
            {% endbuttons %}
        </form>
        <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
        <a href="{% url 'home' %}">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}