{% extends "castle/base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="row">
    
    {% if validlink %}
    
    <div class="col-md">
    <div class="col-md"></div>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button class="btn btn-primary" type="submit">Changer de mot de passe</button>
            {% endbuttons %}
        </form>
        <a href="{% url 'profile' %}">Retour au profil</a>
    </div>
    <div class="col-md"></div>
    
    {% else %}
    
    <div class="col-md">
        <p>Lien de réinitialisation invalide, peut-être a-t-il déjà été utilisé. Veuillez recommencer la procédure.</p>
    </div>
    
    {% endif %}

</div>

{% endblock %}

