{% extends "castle/base.html" %}
{% load bootstrap4 %}

{% block content %}

{% if validlink %}
<div class="row">
    <div class="col-5 offset-3">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button class="btn btn-primary" type="submit">Changer de mot de passe</button>
            {% endbuttons %}
        </form>
    </div>
</div>
<div class="row">
    <div class="col-5 offset-3">
        <a href="{% url 'profile' %}">Retour au profil</a>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-5 offset-3">
        <p>Lien de réinitialisation invalide, peut-être a-t-il déjà été utilisé. Veuillez recommencer la procédure.</p>
    </div>
</div>    
{% endif %}

{% endblock %}

