{% extends "castle/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
    <div class="col-md"></div>
    <div class="col-md">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button class="btn btn-primary" type="submit">Changer de mot de passe</button>
            {% endbuttons %}
        </form>
        <a href="{% url 'profile' %}">Retour au profil</a>
    </div>
    <div class="col-md"></div>
</div>
{% endblock %}