{% extends "castle/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Profil</h1>
        </div>
    </div>
</div>
{% if customer_has_weighted_blue or customer_has_weighted_red %}
<div class="container mt-4">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Rapports de benchmarking</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <ul class="list-group">
                {% if customer_has_weighted_blue %}
                <li class="list-group-item">
                    <a href="{% url 'benchmark_blue' %}">Rapport de benchmarking Blue team</a>
                </li>
                {% endif %}
                {% if customer_has_weighted_red %}
                <li class="list-group-item">
                    <a href="{% url 'benchmark_red' %}">Rapport de benchmarking Red team</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
<div class="container mt-4">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Pages</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <ul class="list-group">
                {% if user.groups.all.0.name == 'staff' %}
                <li class="list-group-item">
                    <a href="{% url 'staff_blue' %}">Staff/Blue</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'staff_red' %}">Staff/Red</a>
                </li>
                {% endif %}
                <li class="list-group-item">
                    <a href="{% url 'customer_blue' %}">Client/Blue</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'customer_red' %}">Client/Red</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Compte</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <ul class="list-group">
                <li class="list-group-item">Nom d'utilisateur : {{ user.username }}</li>
                <li class="list-group-item">Adresse email : {{ user.email }}</li>
                <li class="list-group-item">
                    <a href="{% url 'password_change' %}">Changer de mot de passe</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'logout' %}">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}