.row {
    height: 100%;
    width: auto;
    text-align: center;
    vertical-align: middle;
}

.column {
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
    transition: transform 1.2s, filter 1s ease-in-out;
    transform-origin: center center;
    filter: brightness(75%);
}

.column:hover {
    filter: brightness(100%);
    opacity: 0.95;
}

.column:hover .div-text{
    opacity: 0.70;
}

#blue-tools {
    max-width: 100%;
    background-size: contain;
    background: url('../images/blueteam.jpg') no-repeat;
    background-size: cover;
}

#red-tools {
    max-width: 100%;
    background-size: contain;
    background: url('../images/redteam.jpg') no-repeat center;
    background-size: cover;
}


@font-face {
    font-family: 'Hacked';
    src : local('HACKED'), url("../fonts/HACKED.ttf");
}
.div-text {
    position: absolute;
    font-family: "ico";
    top: 45%;
    left: 10%;
    right: 10%;
    opacity: 0;
    font-size: xx-large;
    color: aliceblue;
    background-color: #404040;
    text-align: center;
}