<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'BenchmarkingPlatform/home.css' %}">
</head>
<body>
<div class="row">

    <a href="/blue-tools">
        <div class="column" id="blue-tools" >
            <span>Click here to benchmark  </br> Defensive Solutions</span>
        </div>
    </a>
    <a href="/red-tools">
        <div class="column" id="red-tools">
            <span>Click here to benchmark  </br> Offensive Solutions</span>
        </div>
    </a>
    <a href="{% url 'logout' %}">Logout</a>

</div>
</body>
</html>